<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Girls Blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>
    <div>
        <p>published: 23.08.2021 14:49</p>
        <h2><a href="">My first Post</a></h2>
        <p>HELLO!!!!!</p>
    </div>
    <div>
        <p>published: 23.08.2021 14:49</p>
        <h2><a href="">My second Post</a></h2>
        <p>HELLO!!!!!</p>
    </div>
    <div>
        <p>published: 23.08.2021 14:49</p>
        <h2><a href="">My third Post</a></h2>
        <p>HELLO!!!!!</p>
    </div>
</body>
</html>